html {
    height: 100%;
    width: 100%;
}
body {
    background: center/contain no-repeat url("background-image.jpg"), lightblue;
    height: 100%;
    width: 100%;
}
#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
