html {
    height: 100%;
    width: 100%;
}
body {
    background: center/contain no-repeat url("background-image.jpg"), lightblue;
    height: 100%;
    width: 360px;
    x--width: 100%;
    margin: 0 auto 0 auto;
}
#menter {
    height: 100%;
    width: 100%;
}
#sentence {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100%;
    width: 80%;
}
#title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 28px;
    text-align: center;
    color: white;
}
#prompt {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
