#pre-shell {
    cursor: pointer;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}
#pre-shell > div {
    flex: 1;
}

#menter {
    height: 100%;
    width: 360px;
    margin: 120px auto 0 auto;
    padding: 0;
}
#menter picture {
    margin-top: auto;
}
#menter .overlay-string {
    position: absolute;
    top: 420px;
    left: auto;
    border-image: fill 0 linear-gradient(#00000008,#000);
}
