:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f8f9fa;
  background-color: #212529;

  font-smooth: always;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-shell {
    cursor: pointer;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}
#app-shell > div {
    flex: 1;
}
#root {
  width: 100%;
  max-width: 600px;
    margin: 0 auto;
}

/* Custom class for title and lead paragraph */
.app-title {
  color: #004411 !important;
}

/* Custom class for password text */
.password-text {
  color: #000000 !important;
}
