:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f8f9fa;
  background-color: #212529;

  font-smooth: always;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 100%;
    max-width: 700px;
    min-width: 260px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}
#app-shell > div {
    flex: 1;
}

.version {
    margin-left: auto;
}
